name: Build and publish release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - name: Install dependencies
      run: yarn --frozen-lockfile

    - name: Build
      run: yarn run build

    - uses: actions/upload-artifact@v2
      with:
        name: frontend
        path: ./build

  build-on-windows:
    runs-on: windows-latest
    needs: [build-frontend]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - uses: actions/download-artifact@v2
      with:
        name: frontend
        path: ./build

    - name: Build with pyinstaller
      run: |
        flask build windows

    - uses: actions/upload-artifact@v2
      with:
        name: app_windows
        path: .\dist\FRDMS.exe

  create-release:
    runs-on: ubuntu-latest
    needs: [build-on-windows]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: app_windows
        path: ./

    - name: Create github release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload windows artifact to github release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./app_windows/FRDMS.exe
        asset_name: FRDMS.exe
        asset_content_type: application
